.questionOne {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 420px;
  height: 420px;
  border-radius: 50px;
  margin: 80px auto;
  background-color: black;
  color: white;

}


h1 {
  font-size: 60px;
  color: #CE2D36;
  display: none; /*currently not being displayed as the track-score function is still under construction*/
}


#question {
    font-size: 80px;
    margin: 80px 0 20px 0;
}

input {
  text-align: center;
  width: 100px;
  height: 15px;
margin: 0 20px 0 160px;
}

/*ND: Try to keep your indentation consistent. */
button {
  width: 60px;
  height: 15px;
margin: 0 20px 20px 170px;
background-color: #CE3F68;

}

/*ND: Again, be mindful of leaving dead code.*/
@media screen and (max-width: 600px) {





}
